/*
Advanced Visual Frameworks 1312
Angela Smith
Week 4
 */
/* Background */
section[data-role="page"] {
	background-image:-webkit-gradient(linear,left top,left bottom,from(#6c6c6c),to(#666666));
    background-color: #666666;
    background-size: 10px 10px;
}

section[data-role="content"], section[data-role="collapsible-set"], article[data-role="collapsible"] {
    background: rgba(245,241,240,.8);
}
section {
    height: 100%;
}
/* Grid */
#mainNav .ui-block-a:not(.ui-btn), .ui-block-b:not(.ui-btn),.ui-block-c,.ui-block-d {
	background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f2f2f2));
    border: 1px solid #ccc;
    text-align: center;
}

#mainNav a {
    display: block;
    border: 2px solid #666666;
}
#mainNav p {
	margin-top: 0;
}
/* Listview */

ul { list-style: none; }

.ui-li-aside {
    display: inline;
    text-align: left;
    font-size: .8em;
    width: 8em;
}

#resultsInst p {
    word-wrap:break-word;
}
#resultsWea h5 {
	display: inline;
    font-size: 1em;
    width: 14em;
	padding-left: 0;
	margin-left: 0;
	word-wrap:break-word;
}

#resultsWea img {
	display: inline;
    width: 4em;
	padding-right: 0;
	margin-right: 0;
}

.ui-li {
    border-top: 1px solid #ffffff;
    height: 50px;
    color: #666666;
}

.ui-li-desc {
    color: #666666;
}

#resultsInst h2 {
    color: #fbb03b;
    text-shadow: 0 -1px 0 #666666;
    font-weight: normal;
    display: inline;
    -webkit-margin-before: 1.1em;
    padding-left: 8px;
}

#resultsInst li {
    border: 4px solid #ffffff;
}
#weaAlert {
	border: 2px solid #fbb03b;
	text-align: center;
}

/* Header */
.ui-bar-a {
    text-align: center;
    background: #fbb03b;
    padding: 0 0 .5em 0;
    border-bottom: 1px solid #ffffff;
}

.ui-bar-a p {
    margin: 0;
    font-family: Myriad Pro;
    text-shadow: 0 -1px 0 #666666;
    font-weight: normal;
    font-size: 1.2em;
}

.ui-header .ui-title {
    padding-top: .8em;
    padding-bottom: .3em;
    font-family: Gabriola;
    font-size: 2em;
    text-shadow: 0 -1px 0 #666666;
    margin: 0;
    font-weight: normal;
}

.ui-header .ui-title span {
    color: #666666;
    font-weight: normal;
}
/* footer */
footer .ui-btn {
    height: 3em;
}

.ui-navbar li .ui-btn .ui-btn-inner {
    padding-top: .6em;
    padding-bottom: .6em;
    font-size: 1.2em;
}

/* Media Queries */
/* Android landscape */
@media all and (orientation: landscape) {
	#inst {
        width: 97%;
        border: solid 1em #ffffff;
    }  
}
/* Android portrait */
@media all and (orientation: portrait) {
	#inst {
        width: 87%;
        border: solid 1em #ffffff;
    }
    #home img {
        height: 5em;
        padding-bottom: 0;
    } 
}
@media all and (max-width: 28.75em) {
        .my-breakpoint .ui-block-a { width: 50%; }
        .my-breakpoint .ui-block-b { width: 50%; }
        .my-breakpoint .ui-block-c { width: 50%; }
        .my-breakpoint .ui-block-d { width: 50%; }
}