/*
Title: Trail App Styles
By: Angela Smith
Project 4 VFW
*/

html { 
  	background: url(../img/bikebg.jpg) no-repeat right bottom fixed; 
  	background-size: cover;
}
body section p img {
	height: 100px;
	width: 100px;
	margin-top: 30px;
}

body section p img:hover {
-webkit-animation: spin 2s infinite linear;
-moz-animation: spin 2s infinite linear;
-o-animation: spin 2s infinite linear;
-ms-animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}


nav a:hover { 
	background-color: #A2AB58;
}

div {
	font-family: "times new roman", georgia, sans-serif;
	padding: 5px;
	padding-bottom: 10px;
	background-color: rgba(245,241,240,.8);
	display: block;
	overflow: scroll;
}
div img {
	background: url("../img/allTrailIcons.png");
	height: 50px;
	width: 50px;
}

#one {
	background-size:  255px auto;
	background-position: 0 0;
	border: 0;
} 
#two { 
	background-size:  255px auto;
	background-position: -52px 0;  
} 
#three { 
	background-size:  255px auto;
	background-position: -104px 0;  
} 
#four {
	background-size:  255px auto;
	background-position: -154px 0;  
} 
#five {
	background-size:  255px auto;
	background-position: -205px 0;
} 
#six {
	background-size:  255px auto;
	background-position: 0 -52px;
} 
#seven {
	background-size:  255px auto;
	background-position: -52px -52px;
} 
#eight {
	background-size:  255px auto;
	background-position: -104px -52px;
}
#nine {
	background-size:  255px auto;
	background-position: -154px -52px;  
} 
#errors {
	color: #E44424;
	font-size: .9em;
}

.changeStyle {
	font-family: "times new roman", georgia, sans-serif;
	display: inline-block;
	text-decoration: none;
	border: 2px solid #C0C0C0;
	background-color: #707070;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	margin-right: 20px;
	border-radius: 5px;
	padding: 4px;
	box-shadow: 
	inset 1px 1px 20px rgba(0,0,0,0.2),
	inset -1px -1px 20px rgba(0,0,0,0.2);
}

fieldset, td { 
  	padding-top: 0;
}

footer {
	padding: 12px;
	background-color: #67BCDB;
	border: 1px solid #C0C0C0;
	box-shadow: 
	inset 1px 1px 20px rgba(0,0,0,0.2),
	inset -1px -1px 20px rgba(0,0,0,0.2);
}

form {
	background-color: #A2AB58;
	border: 2px solid #C0C0C0;
	font-family: "times new roman", georgia, sans-serif;
	font-size: 1.1em;
	line-height: 30px;
	padding: 5px;
	list-style: none;
	box-shadow:
	inset 1px 1px 84px rgba(0,0,0,0.2),
	inset -1px -1px 84px rgba(0,0,0,0.2);
}


.imgDiv {
	background-color: rgba(245,241,240,.1);
	clear: both; 
  	overflow: hidden;
}
header {
	border: 5px double #C0C0C0;
	background-color: #E44424;
	font-family: fantasy,"times new roman", georgia, sans-serif;
	padding: 15px 0;
	padding-left: 30px;
	color: #FFFFFF;
	box-shadow: 
	inset 1px 1px 84px rgba(0,0,0,0.2),
	inset -1px -1px 84px rgba(0,0,0,0.2);
	text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
}

header a {
	font-family: "times new roman", georgia, sans-serif;
	text-decoration: none;
	border: 2px solid #C0C0C0;
	background-color: #707070;
	color: #FFFFFF;
	margin-right: 15px;
	border-radius: 5px;
	padding: 6px;
	box-shadow: 
	inset 1px 1px 20px rgba(0,0,0,0.2),
	inset -1px -1px 20px rgba(0,0,0,0.2);
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

input {
	height: 18px;
	background-color: rgba(245,241,240,.8);
	border-radius: 5px;
}

legend { 
	font-family: fantasy;
	color: #FFFFFF;
	font-size: 1.2em;
	letter-spacing: .8px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4); 
}

.modLinks {
	display: inline-block;
}
p {
	font-size: 1.3em;
	padding-top: 20px;
}

section {
	padding: 45px;
	font-family: "times new roman", georgia, sans-serif;
}

.bgBox {
	border: 2px solid #C0C0C0;
	background-color: #F5F3EE;
	font-family: fantasy,"times new roman", georgia, sans-serif;
	text-align: center;
	box-shadow: 
	inset 2px 1px 80px rgba(0,0,0,0.24),
	inset -2px -1px 80px rgba(0,0,0,0.24);
}

span {
	color: #000000;
	font-style: italic;
}

#submit {
	font-family: fantasy,"times new roman", georgia, sans-serif;
	height: 30px;
	border-radius:4px;
	padding: 5px;
	background-color: #E44424;
	color:#ffffff;
	font-size: medium;
	margin:25px 50px 5px 80px;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

ul {
	list-style: none;
}
form span {
	color: #E44424;
	font-size: .7em;
	vertical-align: 15%;
}

.liStyle {
	list-style: none;
	border-bottom: 4px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ulStyle {
	list-style: square;
	padding-left: 5px;
}

#current {
	border-radius:4px;
	width: 35px;
	height: 20px;
	padding-bottom:5px;
	background-color: #67BCDB;
	border: 2px solid #C0C0C0;
	text-align:center;
	color:#ffffff;
	font-size: medium;
	margin-left:20px;
	box-shadow: 
	inset 1px 1px 8px rgba(0,0,0,0.2),
	inset -1px -1px 8px rgba(0,0,0,0.2);
}

#slider {
	margin-left: 40px;
	margin-right: 30px;
	background-color:rgba(162,171,88,.1);
  	clear: both; 
  	overflow: hidden;
}
